@import url(http://fonts.googleapis.com/css?family=Raleway|Hind);


body{
	background-image: url('pictures/background.png');
	background-size: cover;


}

.main{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.logins{
	position: relative;
	float: right;
}

.logins a{
	display: inline-block;
	font-family: Hind;
	font-size: 20px;
	text-decoration: none;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(211,211,211,0.5)
}

.logins a:hover{

	background-color: gray;
}


#logo{
	width: 33%;
	margin: 0 auto;
}

.nav{
	display: table;
	position: relative;

	font-family: Raleway;
	padding-right: 43px;
	margin-right: auto;
	margin-left: auto;
}

.nav li{
	display: inline-block;
	border-radius: 7px;
	background-color: rgba(211,211,211,0.5);
	padding:5px 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

.nav li:hover{
	background-color: gray;
}

.nav a{
	text-decoration: none;
	font-size: 20px;
}


.headline{
	font-size: 35px;
	font-family: Hind;
	font-style: italic;
	color: gray;

}

.footer{
	margin: 0px auto;
	text-align: center;
	clear: both;
}



















.news{
	border-spacing: 10px;
	width: 80%;
	position: relative;
}


.articles{
}

.article1, .article2, .article3{
	display: inline-block;
	width: 30%;
	font-family: Raleway;
	padding: 10px 10px 10px 10px;
	border-radius: 15px 15px 15px 15px;
	background-color: rgba(211,211,211,0.2);
}

#author{
	float: right;
	color: gray;
	font-style: italic;
}

#date{
	font-size: italic;
	position: relative;
	font-size: 13px;
}


.articles img{
	height: auto;
	width: auto;
	max-height: 200px;
	max-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.articles a{
	text-decoration: none;
}



