@import url(http://fonts.googleapis.com/css?family=Raleway|Hind);


body{
	background-image: url('pictures/background.png');
	background-size: cover;


}

.main{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.logins{
	position: relative;
	float: right;
}

.logins a{
	display: inline-block;
	font-family: Hind;
	font-size: 20px;
	text-decoration: none;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(211,211,211,0.5)
}

.logins a:hover{

	background-color: gray;
}


#logo{
	width: 33%;
	margin: 0 auto;
}

.nav{
	display: table;
	position: relative;

	font-family: Raleway;
	padding-right: 43px;
	margin-right: auto;
	margin-left: auto;
}

.nav li{
	display: inline-block;
	border-radius: 7px;
	background-color: rgba(211,211,211,0.5);
	padding:5px 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

.nav li:hover{
	background-color: gray;
}

.nav a{
	text-decoration: none;
	font-size: 20px;
}


.headline{
	font-size: 35px;
	font-family: Hind;
	font-style: italic;
	color: gray;

}

.footer{
	margin 0 auto;
	text-align: center;
	clear: both;
}












































.episodes{
	display: table;
	border-spacing: 10px;
	width: 80%;
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 6%;
}


.articles{
	border-bottom: 1px solid #d3d3d3;
}

.tables{
	width: 100%;

	border-radius: 10px;
	font-family: Raleway;
}
.tables table{
	font-family: Raleway;
	border-spacing: 0;
	margin-right: auto;
	margin-left: auto;
}

th:first-child{
	 border-radius: 30px 0 0 0;
}

th:last-child{
	 border-radius: 0 30px 0 0;
}



.weekdays th{
	height: 60px;
	font-family: Raleway;
	text-align: center;
	border-left
	display: table-cell;
	background-color: rgba(211,211,211,0.3);
}


.odays{
	border-right: 1px solid rgba(211,211,211,1);
}
.trone{
	font-family: Raleway;
	width: 10%;
	text-align: center;
	font-size: 15px;
	
}

.trone a{
	text-decoration: none;
}

.trtwo a{
	text-decoration: none;
}

.trtwo{
	font-family: Raleway;
	width: 10%;
	text-align: center;
	font-size: 15px;
	background-color: rgba(211,211,211,0.35);
	text-decoration: none;
}

.blankrow{
	font-family: Raleway;
	

}
.blankrow td {
	height:30px;
	border-radius: 0 0 30px 30px;
	background-color: rgba(211,211,211,0.35);
}




.trtwo td{
	border-bottom:1px solid rgba(211,211,211,0.8);
}

.trone td{
	border-bottom:1px solid rgba(211,211,211,0.8);
}



#lefta{
	height: auto;
	width: auto;
	max-height: 50px;
	max-width: 50px;
	float:left;
	margin-left: 100px;

}

#righta{
	height: auto;
	width: auto;
	max-height: 50px;
	max-width: 50px;
	float:right;
	margin-right: 100px;

}





